{% extends 'base.html' %}
{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{gif.url}}" class="img-fluid rounded-start" alt="{{gif.title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{gif.title}}</h5>
        <p class="card-text"><small class="text-muted">{{gif.created_at}}</small></p>
        <p class="card-text"><small class="text-muted">Likes: {{gif.likes}}</small></p>
          <a href="{% url 'like_link' gif.id 1 %}" class="btn btn-success">Like</a>
          <a href="{% url 'like_link' gif.id 0 %}" class="btn btn-danger">Dislike</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
